[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
	ignore = untracked
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/rbenv/ruby-build.git
	ignore = untracked
